<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <charset>UTF-8</charset>
      <pattern>%highlight(%d{dd.MM.yyyy HH:mm:ss.SSS} [%-5level] :: %thread \(%c{0}\) :: %m%n)</pattern>
    </encoder>
  </appender>

  <root level="DEBUG">
    <appender-ref ref="STDOUT" />
  </root>

</configuration>